/**
 * Main WooCommerce styles
 */

button {
  &:focus {
    outline: none;
  }
}

textarea {
  &.input-text {
    @extend .classic-control;
  }
}

// .bt-global {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   max-width: 180px;
//   margin: 10px auto;
//   padding: 10px 0;
//   background-color: $bg;
//   border-color: $bg;
//   color: white;
//   text-transform: uppercase;
//   min-height: 50px;
//   cursor: pointer;
//   @include font(12px);
//   @include radius(0);
//   @include bold();
//   @include transition(all 300ms ease-in-out);
//   &:focus { outline: none; }
//   &:hover {
//     color: white;
//     opacity: .75;
//   }
// }

.t-section {
  font-family: up-fonts('first');
  margin: 30px auto;
  color: black;
  text-transform: uppercase;
  text-align: center;
  @include font(30px);
  @include medium();
}

.woocommerce {
  aside#sidebar-shop {
    .widget {
      padding: 0 0 15px;
      margin: 0 0 30px;
      border-bottom: 1px solid #f1f1f1;

      h2 {
        text-transform: uppercase;
        color: up-colors('txt');
        margin: 0 0 15px;
        @include font(18px);
      }

      &.widget_price_filter {
        form {
          .price_slider_wrapper {
            .price_slider {
              background-color: #f1f1f1;

              .ui-slider-range {
                background-color: #f1f1f1;
              }
              span.ui-slider-handle {
                background-color: up-colors('first');
              }
            }
            .price_slider_amount {
              button {
                background-color: up-colors('first');
                width: auto;
                min-height: 30px;
                min-width: 100px;
                padding: 0;
                border: none;
                margin: 0;
                @include font(12px);
              }
            }
          }
        }
      }

      ul {
        &.product_list_widget {
          li {
            a {
              color: #333;
            }
          }
        }
      }
    }
  }

  .woocommerce-result-count {
    display: none;
  }
  /* My Account Pate */
  .woocommerce-MyAccount-navigation {
    ul {
      list-style: none;
      padding: 0;

      li {
        padding-left: 20px;
        margin: 0 0 10px;

        a {
          font-family: up-fonts('first');
          color: black;
          @include font(14px);
          @include light();
        }

        &::before {
          content: "\f054";
          font-family: "Font Awesome 5 Pro";
          display: inline-block;
          margin-left: -15px;
          width: 20px;
          color: black;
          @include font(12px);
          @include transition(all 300ms ease-in-out);
        }

        &:hover {
          a,
          &::before {
            color: black;
          }
        }
      }

    }
  }

  .woocommerce-MyAccount-content {
    .woocommerce-Address {
      padding: 0;
    }
    a {
      color: black;
    }
    header.woocommerce-Address-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 15px;
      border-bottom: 1px solid #f1f1f1;
      padding: 0 0 15px;

      &::before, &::after {
        display: none;
      }

      h3 {
        color: up-colors('txt');
        @include font(18px);
      }

      a {
        font-family: up-fonts('first');
        border: 1px solid up-colors('txt');
        padding: 5px 15px;
        @include font(12px);

        &:hover {
          background-color: $bg;
          color: white;
        }
      }
    }
    address {
      font-family: up-fonts('first');
      color: up-colors('txt');
      @include font(14px);
    }
  }

  .blockUI.blockOverlay {
    position: relative;
    @include loader();
  }

  .loader {
    @include loader();
  }

  a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;

    &:hover {
      color: #fff !important;
      background: red;
    }
  }

  small.note {
    display: block;
    color: $subtext;
    font-size: 0.857em;
    margin-top: 10px;
  }

  .woocommerce-breadcrumb {
    @include clearfix();
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.92em;
    color: $subtext;
    a {
      color: $subtext;
    }
  }

  .quantity .qty {
    width: 3.631em;
    text-align: center;
  }

  // Product Page
  div.product {
    margin-bottom: 0;
    position: relative;

    &.has-default-attributes,
    &.product-type-grouped {
      span.onsale {
        left: 90px;
      }
    }

    .product_title {
      clear: none;
      margin-top: 0;
      padding: 0;
      font-family: up-fonts('first');
      color: black;
      line-height: 30px;
      text-transform: uppercase;
      @include font(30px);
      @include bold();
    }

    span.price,
    p.price {
      font-family: up-fonts('first');
      color: black;
      border: none;
      line-height: 30px;
      @include font(24px);
      @include light();

      ins {
        background: inherit;
        display: inline-block;
        text-decoration: none;
        @include medium();
      }

      del {
        opacity: 0.5;
        display: inline-block;
        @include light();
      }
    }

    p.stock {
      font-size: 0.92em;
    }
    .stock {
      color: $highlight;
    }
    .out-of-stock {
      color: red;
    }
    .woocommerce-product-rating {
      margin-bottom: 1.618em;
    }

    div.images {
      margin-bottom: 2em;

      img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
      }

      div.thumbnails {
        padding-top: 1em;
      }
      &.woocommerce-product-gallery {
        position: relative;
      }

      .woocommerce-product-gallery__wrapper {
        transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
        margin: 0;
        padding: 0;
      }

      .woocommerce-product-gallery__wrapper .zoomImg {
        background-color: #fff;
        opacity: 0;
      }

      .woocommerce-product-gallery__image:nth-child(n+2) {
        width: 25%;
        display: inline-block;
      }

      .woocommerce-product-gallery__trigger {
        position: absolute;
        top: .5em;
        right: .5em;
        font-size: 2em;
        z-index: 9;
        width: 36px;
        height: 36px;
        background: #fff;
        text-indent: -9999px;
        border-radius: 100%;
        box-sizing: content-box;

        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border: 2px solid #000;
          border-radius: 100%;
          position: absolute;
          top: 9px;
          left: 9px;
          box-sizing: content-box;
        }

        &:after {
          content: "";
          display: block;
          width: 2px;
          height: 8px;
          background: #000;
          border-radius: 6px;
          position: absolute;
          top: 19px;
          left: 22px;
          transform: rotate(-45deg);
          box-sizing: content-box;
        }
      }

      .flex-control-thumbs {
        overflow: hidden;
        zoom: 1;
        margin: 20px 0;
        padding: 0;

        li {
          border: 2px solid transparent;
          list-style: none;
          margin: 0 0 10px;
          @include transition(all 300ms ease-in-out);

          img {
            cursor: pointer;
            opacity: .5;
            margin: 0;
            &.flex-active,
            &:hover {
              opacity: 1;
            }
          }

          &:hover {
            border-color: up-colors('third');
          }
        }
      }
    }

    .woocommerce-product-gallery--columns-3 {
      .flex-control-thumbs li:nth-child(3n+1) {
        clear: left;
      }
    }
    .woocommerce-product-gallery--columns-4 {
      .flex-control-thumbs li:nth-child(4n+1) {
        clear: left;
      }
    }
    .woocommerce-product-gallery--columns-5 {
      .flex-control-thumbs li:nth-child(5n+1) {
        clear: left;
      }
    }

    div.summary {
      margin-bottom: 2em;

      h2 {
        font-family: up-fonts('first');
        margin: 0 0 10px;
        color: black;
        text-transform: uppercase;
        @include font(16px);
        @include semi();
      }

      p {
        color: $txt;
        @include font(14px);
        @include light();

        &.price {
          @extend p.price;
          padding-bottom: 15px;
          border-bottom: 4px solid #F9F8F6;
        }
      }

      div {
        &.product_meta {
          display: flex;
          align-items: start;
          flex-flow: column;
          min-height: 60px;
          justify-content: space-around;

          span {
            &.sku_wrapper,
            &.posted_in {
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              width: 100%;
              border-top: 4px solid #F9F8F6;
              min-height: 60px;
              align-items: center;
              color: black;
              text-transform: uppercase;
              @include semi();

              a,
              span {
                color: $txt;
                text-transform: initial;
                @include font(14px);
                @include light();
              }
            }
          }
        }
      }
    }

    div.social {
      text-align: right;
      margin: 0 0 1em;

      span {
        margin: 0 0 0 2px;

        span {
          margin: 0;
        }
        .stButton .chicklets {
          padding-left: 16px;
          width: 0;
        }
      }

      iframe {
        float: left;
        margin-top: 3px;
      }
    }

    .woocommerce-tabs {
      ul.tabs {
        list-style: none;
        padding: 0;
        margin: 0 0 1.618em;
        overflow: hidden;
        position: relative;

        li {
          border: 1px solid darken(#192642, 10%);
          background-color: #192642;
          display: inline-block;
          position: relative;
          z-index: 0;
          border-radius: 0;
          margin: 0 -5px;
          padding: 0 1em;

          a {
            display: inline-block;
            padding: 0.5em 0;
            font-weight: 700;
            color: $secondarytext;
            text-decoration: none;

            &:hover {
              text-decoration: none;
              color: lighten($secondarytext, 10%);
            }
          }

          &.active {
            background: $contentbg;
            z-index: 2;
            border-bottom-color: $contentbg;

            a {
              color: inherit;
              text-shadow: inherit;
            }

            &::before {
              box-shadow: 2px 2px 0 $contentbg;
            }
            &::after {
              box-shadow: -2px 2px 0 $contentbg;
            }
          }

          &::before,
          &::after {
            border: 1px solid darken($secondary, 10%);
            position: absolute;
            bottom: -1px;
            width: 5px;
            height: 5px;
            content: ' ';
            box-sizing: border-box;
          }

          &::before {
            left: -5px;
            border-bottom-right-radius: 4px;
            border-width: 0 1px 1px 0;
            box-shadow: 2px 2px 0 $secondary;
          }

          &::after {
            right: -5px;
            border-bottom-left-radius: 4px;
            border-width: 0 0 1px 1px;
            box-shadow: -2px 2px 0 $secondary;
          }
        }

        &::before {
          position: absolute;
          content: ' ';
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid darken($secondary, 10%);
          z-index: 1;
        }
      }

      .panel {
        margin: 0 0 2em;
        padding: 0;
      }
    }

    p.cart {
      margin-bottom: 2em;
      @include clearfix();
    }

    form.cart {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      border-top: 4px solid #F9F8F6;
      padding: 15px 0;
      margin-bottom: 2em;
      @include clearfix();

      &::after {
        flex: 0 0 100%;
        max-width: 100%;
      }

      div.single_variation_wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        div.woocommerce-variation-add-to-cart {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
        }
      }

      .variations {
        div.single_variation_wrap {
          display: flex;
          flex-flow: column;
          div.woocommerce-variation {
            display: flex;
            margin-bottom: 19px;
          }
        }
      }

      div.quantity {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px 0 0;
        position: relative;
        flex: 0 0 46%;
        max-width: 46%;

        label {
          display: flex;
          flex: 0 0 100%;
          max-width: 100%;
          width: inherit;
          height: inherit;
          overflow: visible;
          position: relative !important;
          font-family: up-fonts('first');
          color: black;
          letter-spacing: 1.5px;
          line-height: 40px;
          text-transform: uppercase;
          @include font(16px);
          @include semi();
        }

        a,
        .input-text {
          border: 1px solid #DEDEDE;
          height: 50px;
        }

        a {
          width: 50px;
          background: black;
          color: white;
          text-align: center;
          display: block;
          line-height: 50px;
          border: none;
          @include font(20px);
          @include bold();
          @include transition(all 300ms ease-in-out);

          &:hover {
            opacity: .75;
          }
        }

        .input-text {
          border-left: 0;
          border-right: 0;
          @include font(14px);
          @include light();
        }
      }

      table {
        border-width: 0 0 1px;
        td {
          padding-left: 0;
        }

        div.quantity {
          float: none;
          margin: 0;
        }

        small.stock {
          display: block;
          float: none;
        }
      }

      .woocommerce-variation-description p {
        margin-bottom: 1em;
      }

      .reset_variations {
        visibility: hidden;
        padding: 5px 25px;
        background: black;
        text-align: center;
        color: white;
        border: 1px solid black;
        //margin: 10px 0;
        @include font(12px);
        @include transition(all 300ms ease-in-out);

        &:hover {
          border-color: black;
          color: black;
          background-color: white;
        }
      }

      .wc-no-matching-variations {
        display: none;
      }

      .button {
        vertical-align: middle;
        float: left;
        flex: 0 0 46%;
        margin: 0;
        max-width: 46%;
        @extend .bt-global;
      }

      .group_table {
        td.woocommerce-grouped-product-list-item__label {
          padding-right: 1em;
          padding-left: 1em;
        }

        td {
          vertical-align: top;
          padding-bottom: 0.5em;
          border: 0;
        }

        td:first-child {
          width: 4em;
          text-align: center;
        }

        .wc-grouped-product-add-to-cart-checkbox {
          display: inline-block;
          width: auto;
          margin: 0 auto;
          transform: scale(1.5, 1.5);
        }
      }
    }
  }

  span.onsale {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    line-height: 12px;
    top: 10px;
    right: 10px;
    margin: 0;
    background: linear-gradient(to right, $bg, #4d8ead);
    color: white;
    z-index: 9;
    @include font(12px);
    @include radius(0);
    @include light;
  }

  section.related {
    h2 {
      @extend .t-section;
    }
  }

  // Product loops
  .products ul,
  ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    @include clearfix();

    li {
      // border: 1px solid #f1f1f1;
      padding: 0;
      position: relative;
      list-style: none outside;
      overflow: hidden;
      @include transition(all 300ms ease-in-out);

      @media (min-width: 768px) {
      }

      .onsale {
        top: 10px;
        right: 10px;
        margin: 0;
        min-height: inherit;
        padding: 10px;
      }

      a {
        &.woocommerce-loop-product__link {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: $txt;
          text-decoration: none;
          padding: 0 0 15px;

          figure {
            width: 100%;
            border-bottom: 1px solid #f1f1f1;

            img {
              width: 100%;
              height: auto;
              display: block;
              margin: 0 0 1em;
              box-shadow: none;
            }
          }

          h3,
          .woocommerce-loop-product__title,
          .woocommerce-loop-category__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 8px;
            margin: 0;
            min-height: 50px;
            text-align: left;
            @include font(18px);
            // @include medium();
          }

          .price {
            color: $txt;
            display: block;
            margin-bottom: 0.5em;
            padding: 10px 8px;
            @include font(14px);
            // @include medium();

            del {
              color: inherit;
              opacity: 0.5;
              @include light();
            }

            ins {
              background: none;
              display: inline-block;
              text-decoration: none;
              @include medium();
            }

            .from {
              font-size: 0.67em;
              margin: -2px 0 0 0;
              text-transform: uppercase;
              color: rgba(desaturate($highlight, 75%), 0.5);
            }

            //discount price
            .full-price {
              margin-bottom: 0;
              text-decoration: line-through;

              span {
                &.woocommerce-Price-currencySymbol {
                  margin-right: 2px;
                }
              }
            }

            .discount {
              @include font(16px);
              @include bold();

              span {
                &.obs {
                  display: flex;
                  @include font(12px);
                  @include normal();
                }
              }
            }
          }
        }
      }

      strong {
        display: block;
      }
      .star-rating {
        font-size: 0.857em;
      }

      .button {
        position: absolute;
        transform: translateX(0px);
        left: -106px;
        bottom: 129px;
        width: 40px;
        height: 40px;
        padding: 10px;
        background: linear-gradient(to right,up-colors('first'), #4d8ead);
        min-height: inherit;
        @include radius(0);

        &::before {
          content: '\f07a';
          font-family: 'Font Awesome 5 Pro';
          font-weight: 300;
          font-size: 15px;
          line-height: 20px;
          @include transition(all 300ms ease-in-out);
        }

        &.added {
          &::before {
            display: none;
          }
          &::after {
            margin: 0;
            line-height: 22px;
            @include font(15px);
          }
        }
      }

      &:hover {
        box-shadow: 0 5px 20px rgba(up-colors('first'), 0.15);
        .button {
          transform: translateX(116px);
        }
      }
    }
  }

  .woocommerce-result-count {
    margin: 0 0 1em;
  }
  .woocommerce-ordering {
    margin: 0 0 1em;
    select {
      vertical-align: top;
    }
  }

  nav.woocommerce-pagination {
    text-align: center;

    ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border: 1px solid darken($secondary, 10%);
      border-right: 0;
      margin: 1px;

      li {
        border-right: 1px solid $txt;
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;
        min-width: 32px;
        min-height: 32px;

        a,
        span {
          margin: 0;
          text-decoration: none;
          padding: 0;
          line-height: 1;
          font-size: 1em;
          font-weight: normal;
          padding: 0.5em;
          min-width: 1em;
          display: block;
          color: $txt;
        }

        span.current,
        a:hover,
        a:focus {
          background: $txt;
          color: white;
        }
      }
    }
  }

  // Buttons
  a.button,
  button.button,
  input.button,
  #respond input#submit {
    // font-size: 100%;
    // margin: 0;
    // line-height: 1;
    // cursor: pointer;
    // position: relative;
    // text-decoration: none;
    // overflow: visible;
    // padding: 10px 20px;
    // text-align: center;
    // left: auto;
    // color: white;
    // background: linear-gradient(to right, $bg, $cor);
    // border: 0;
    // display: inline-block;
    // background-image: none;
    // box-shadow: none;
    // text-shadow: none;
    // @include bold();

    @extend .bt-global;

    &.loading {
      opacity: 0.25;
      padding-right: 2.618em;

      &::after {
        font-family: 'WooCommerce';
        content: '\e01c';
        vertical-align: top;
        font-weight: 400;
        position: absolute;
        top: 0.618em;
        right: 1em;
        animation: spin 2s linear infinite;
      }
    }

    &.added::after {
      font-family: 'WooCommerce';
      content: '\e017';
      margin-left: 0.53em;
      vertical-align: bottom;
    }

    &:hover {
      background-color: $secondary - #111;
      text-decoration: none;
      background-image: none;
      color: $secondarytext;
    }

    &.alt {
      background-color: $bg;
      color: white;
      -webkit-font-smoothing: antialiased;

      &:hover {
        background-color: $primary - #111;
        color: $primarytext;
      }

      &.disabled,
      &:disabled,
      &:disabled[disabled],
      &.disabled:hover,
      &:disabled:hover,
      &:disabled[disabled]:hover {
        background-color: $primary;
        color: $primarytext;
      }
    }

    &:disabled,
    &.disabled,
    &:disabled[disabled] {
      color: white;
      cursor: not-allowed;
      opacity: 0.5;
      padding: 0.618em 1em;
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }

  .cart .button,
  .cart input.button {
    float: none;
  }

  a.added_to_cart {
    background: linear-gradient(to right, up-colors('first'), #4d8ead);
    color: white;
    padding: 7px 15px;
    display: table;
    margin: 0 auto 10px;
    @include font(12px);
    @include transition(all 300ms ease-in-out);
    &.wc-forward {
      position: absolute;
      z-index: 99;
      right: 0;
      border: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }

  .return-to-shop,
  .cart-empty {
    margin: 0;

    .button {
      min-width: 180px;
      margin: 0;
    }
  }

  /**
	 * Reviews
	 */
  #reviews {
    h2 small {
      float: right;
      color: $subtext;
      font-size: 15px;
      margin: 10px 0 0;
      a {
        text-decoration: none;
        color: $subtext;
      }
    }
    h3 {
      margin: 0;
    }
    #respond {
      margin: 0;
      border: 0;
      padding: 0;
    }
    #comment {
      height: 75px;
    }
    #comments {
      .add_review {
        @include clearfix();
      }
      h2 {
        clear: none;
      }
      ol.commentlist {
        @include clearfix();
        margin: 0;
        width: 100%;
        background: none;
        list-style: none;
        li {
          padding: 0;
          margin: 0 0 20px;
          border: 0;
          position: relative;
          background: 0;
          border: 0;
          .meta {
            color: $subtext;
            font-size: 0.75em;
          }
          img.avatar {
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px;
            width: 32px;
            height: auto;
            background: $secondary;
            border: 1px solid darken($secondary, 3%);
            margin: 0;
            box-shadow: none;
          }
          .comment-text {
            margin: 0 0 0 50px;
            border: 1px solid darken($secondary, 3%);
            border-radius: 4px;
            padding: 1em 1em 0;
            @include clearfix();
            p {
              margin: 0 0 1em;
            }
            p.meta {
              font-size: 0.83em;
            }
          }
        }
        ul.children {
          list-style: none outside;
          margin: 20px 0 0 50px;
          .star-rating {
            display: none;
          }
        }
        #respond {
          border: 1px solid darken($secondary, 3%);
          border-radius: 4px;
          padding: 1em 1em 0;
          margin: 20px 0 0 50px;
        }
      }
      .commentlist > li::before {
        content: '';
      }
    }
  }

  /**
	 * Star ratings
	 */
  .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: 'star';
    &::before {
      content: '\73\73\73\73\73';
      color: darken($secondary, 10%);
      float: left;
      top: 0;
      left: 0;
      position: absolute;
    }
    span {
      overflow: hidden;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 1.5em;
    }
    span::before {
      content: '\53\53\53\53\53';
      top: 0;
      position: absolute;
      left: 0;
    }
  }
  .woocommerce-product-rating {
    @include clearfix();
    line-height: 2;
    display: block;
    .star-rating {
      margin: 0.5em 4px 0 0;
      float: left;
    }
  }
  .products .star-rating {
    display: block;
    margin: 0 0 0.5em;
    float: none;
  }
  .hreview-aggregate .star-rating {
    margin: 10px 0 0;
  }
  #review_form #respond {
    @include clearfix();
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: transparent none;
    border: 0;
    p {
      margin: 0 0 10px;
    }
    .form-submit input {
      left: auto;
    }
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
  p.stars {
    a {
      position: relative;
      height: 1em;
      width: 1em;
      text-indent: -999em;
      display: inline-block;
      text-decoration: none;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        line-height: 1;
        font-family: 'WooCommerce';
        content: '\e021';
        text-indent: 0;
      }
      &:hover ~ a::before {
        content: '\e021';
      }
    }
    &:hover a::before {
      content: '\e020';
    }
    &.selected {
      a.active {
        &::before {
          content: '\e020';
        }
        ~ a::before {
          content: '\e021';
        }
      }
      a:not( .active)::before {
        content: '\e020';
      }
    }
  }

  // Tables
  table.variations {
    display: flex;
    width: 100%;
    margin: 0 0 2px;

    tbody {
      width: 100%;

      tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:last-child {
          border-top: 4px solid #F9F8F6;
          padding-top: 10px;
          margin-top: 10px;
        }

        td {
          flex: 0 0 100%;
          max-width: 100%;

          .select-box {
            margin: 0;
            border: 2px solid #F9F8F6;
          }

          &.label {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;

            @media (min-width: 768px) {
              flex: 0 0 20%;
              max-width: 20%;
            }

            label {
              padding: 0;
              margin: 0;
              color: black;
              letter-spacing: 1.5px;
              line-height: 40px;
              @include font(16px);
              @include light();
            }
          }

          &.value {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            @media (min-width: 768px) {
              flex: 0 0 75%;
              max-width: 75%;
            }
          }
        }
      }
    }
  }

  table.shop_attributes {
    border: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 1.618em;
    width: 100%;
    th {
      width: 150px;
      font-weight: 700;
      padding: 8px;
      border-top: 0;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
      margin: 0;
      line-height: 1.5;
    }
    td {
      font-style: italic;
      padding: 0;
      border-top: 0;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
      margin: 0;
      line-height: 1.5;
      p {
        margin: 0;
        padding: 8px 0;
      }
    }
    tr:nth-child(even) td,
    tr:nth-child(even) th {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  table.shop_table {
    font-family: up-fonts('first');
    border: none;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    @include radius(0);

    thead {
      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;

        @media (min-width: 768px) {
          position: relative;
          top: 0;
          left: 0;
        }
        // Large devices (desktops, 768px and up)

        th {
          padding: 10px 12px;
          text-transform: uppercase;
          @include font(14px);
          @include bold();

          &.product-total {
            text-align: right;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          position: relative;
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          padding: 10px 0;
          text-align: right;
          @include font(14px);
          @include light();

          @media (min-width: 768px) {
            text-align: left;
            display: table-cell;
            padding: 10px;
          }
          // Large devices (desktops, 768px and up)

          a {
            color: $txt;
            &.remove {
              display: inline-block;
              @media (min-width: 768px) {
                display: block;
              }
              // Large devices (desktops, 768px and up)
            }
          }
          small {
            font-weight: normal;
          }

          &:before {
            font-family: up-fonts('first');
            position: absolute;
            left: 6px;
            width: 45%;
            text-align: left;
            white-space: nowrap;
            text-transform: uppercase;
            @include font(12px);
            @include bold();

            @media (min-width: 768px) {
              display: none;
            }
            // Large devices (desktops, 768px and up)
          }

          &.product-remove:before {
            content: "EXCLUIR";
          }
          &.product-thumbnail:before {
            content: "IMAGEM";
          }
          &.product-name:before {
            content: "PRODUTO";
          }
          &.product-price:before {
            content: "PREÇO";
          }
          &.product-quantity:before {
            content: "QUANTIDADE";
          }
          &.product-subtotal:before {
            content: "SUBTOTAL";
          }
          &.product-total:before {
            content: "TOTAL";
          }
        }
      }
    }

    tbody:first-child tr:first-child {
      th,
      td {
        border-top: 0;
      }
    }

    tfoot {
      tr {
        th {
          padding: 10px 12px;
          text-transform: uppercase;
          @include font(14px);
          @include bold();
        }
        td {
          position: relative;
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          padding: 10px 0;
          text-align: right;
          @include font(14px);
          @include light();
        }
      }
    }

    tfoot td,
    tfoot th,
    tbody th {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &.woocommerce-checkout-review-order-table {
      thead {
        tr {
          position: relative;
          top: 0;
          left: 0;
        }
      }
      tbody {
        tr {
          &.cart_item {
            td {
              text-align: left;
              display: table-cell;
              padding: 10px;
              &::before {
                display: none;
              }

              &.product-total {
                text-align: right;
                @media (min-width: 768px) {
                  text-align: right;
                }
                // Large devices (desktops, 768px and up)
              }
            }
          }
        }
      }
    }
  }

  table.my_account_orders {
    font-size: 0.85em;
    th,
    td {
      padding: 4px 8px;
      vertical-align: middle;
    }
    .button {
      white-space: nowrap;
    }
    .order-actions {
      text-align: right;
      .button {
        margin: 0.125em 0 0.125em 0.25em;
      }
    }
  }
  table.woocommerce-MyAccount-downloads {
    td,
    th {
      vertical-align: top;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: left;
      }
      .woocommerce-MyAccount-downloads-file::before {
        content: '\2193';
        display: inline-block;
      }
    }
  }
  td.product-name {
    dl.variation,
    .wc-item-meta {
      list-style: none outside;
      dt,
      .wc-item-meta-label {
        float: left;
        clear: both;
        margin-right: .25em;
        display: inline-block;
        list-style: none outside;
      }
      dd {
        margin: 0;
      }
      p,
      &:last-child {
        margin-bottom: 0;
      }
    }
    p.backorder_notification {
      font-size: 0.83em;
    }
  }
  td.product-quantity {
    min-width: 80px;
  }

  /**
	 * Cart sidebar
	 */
  ul.cart_list,
  ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0;
      margin: 0 0 5px;
      list-style: none;
      border-bottom: 1px solid #f1f1f1;
      @include clearfix();

      &:last-child {
        border: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 5px;
        line-height: 16px;
        @include font(14px);
        @include medium();
      }

      img {
        order: 2;
        margin-left: 4px;
        width: 32px;
        height: auto;
        box-shadow: none;
      }

      span.amount {
        @include font(14px);
      }

      dl {
        margin: 0;
        padding-left: 1em;
        border-left: 2px solid rgba(0, 0, 0, 0.1);
        @include clearfix();
        dt,
        dd {
          display: inline-block;
          float: left;
          margin-bottom: 1em;
        }

        dt {
          font-weight: 700;
          padding: 0 0 0.25em;
          margin: 0 4px 0 0;
          clear: left;
        }

        dd {
          padding: 0 0 0.25em;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }

      .star-rating {
        float: none;
      }
    }
  }

  &.widget_shopping_cart,
  .widget_shopping_cart {
    .total {
      border-top: 3px double $secondary;
      padding: 4px 0 0;
      strong {
        min-width: 40px;
        display: inline-block;
      }
    }
    .cart_list li {
      padding-left: 2em;
      position: relative;
      padding-top: 0;
      a.remove {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .buttons {
      @include clearfix();
      a {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  /**
	 * Forms
   */
  #customer_login {
    .box-login {
      padding: 30px;
      background-color: white;
      border: 1px solid transparent;
      @include radius(5px);
      @include transition(all 300ms ease-in-out);

      &:hover {
        border-color: rgba(38, 38, 40, 0.1);
        box-shadow: 0px 10px 15px rgba(223, 223, 223, 0.4);
      }

      h2 {
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: 1px solid rgba($color: black, $alpha: .05);
        @include font(20px);
      }
    }
  }
  form {
    &.form-row {
      padding: 3px;
      margin: 0 0 6px;
      [placeholder]:focus::-webkit-input-placeholder {
        transition: opacity 0.5s 0.5s ease;
        opacity: 0;
      }

      label {
        line-height: 2;
        &.hidden {
          visibility: hidden;
        }
        &.inline {
          display: inline;
        }
      }

      .woocommerce-input-wrapper {
        .description {
          background: #1e85be;
          color: #fff;
          border-radius: 3px;
          padding: 1em;
          margin: .5em 0 0;
          clear: both;
          display: none;
          position: relative;
          a {
            color: #fff;
            text-decoration: underline;
            border: 0;
            box-shadow: none;
          }
          &:before {
            left: 50%;
            top: 0%;
            margin-top: -4px;
            transform: translatex(-50%) rotate(180deg);
            content: "";
            position: absolute;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: #1e85be transparent transparent transparent;
            z-index: 100;
            display: block;
          }
        }
        textarea {
          @extend .classic-control;
        }
      }
      select {
        cursor: pointer;
        margin: 0;
      }
      .required {
        color: red;
        font-weight: 700;
        border: 0 !important;
        text-decoration: none;
        visibility: hidden; // Only show optional by default.
      }
      .optional {
        visibility: visible;
      }
      .input-checkbox {
        display: inline;
        margin: -2px 8px 0 0;
        text-align: center;
        vertical-align: middle;
      }
      input.input-text,
      textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        outline: 0;
        line-height: normal;
      }
      textarea {
        height: 4em;
        line-height: 1.5;
        display: block;
        box-shadow: none;
      }
      .select2-container {
        width: 100%;
        line-height: 2em;
      }
      &.woocommerce-invalid {
        label {
          color: $red;
        }
        .select2-container,
        input.input-text,
        select {
          border-color: $red;
        }
      }
      &.woocommerce-validated {
        .select2-container,
        input.input-text,
        select {
          border-color: $green - #111;
        }
      }
      ::-webkit-input-placeholder {
        line-height: normal;
      }
      :-moz-placeholder {
        line-height: normal;
      }
      :-ms-input-placeholder {
        line-height: normal;
      }
    }

    &.login,
    &.checkout_coupon,
    &.register {
      border: none;
      padding: 0;
      margin: 0;
      text-align: left;
      @include radius(0);

      input {
        @extend .classic-control;
        margin: 0 0 10px;

        &[type="checkbox"] {
          width: inherit;
        }
      }

      p {
        label {
          &.woocommerce-form__label-for-checkbox {
            margin: 0;
            color: black;
            @include font(14px);
            @include light();

            input {
              width: 15px;
            }
          }
        }

        &.lost_password {
          margin: 0;

          a {
            color: black;
            @include font(14px);
            @include bold();

            &:hover {
              color: up-colors('first');
            }
          }
        }
      }

      button {
        @extend .bt-global;
        border: none;
        width: 100%;
        max-width: 180px;
        margin: 10px 0 20px;
      }
    }

    &.login, &.register {
      .woocommerce-privacy-policy-text {
        display: none;
      }
      .form-row {
        margin: 0;
      }

      button {
        border: 1px solid $bg;
        background-color: $bg;
        text-transform: inherit;
        font-family: up-fonts('first');
        min-width: 160px;
        @include font(14px);
        @include radius(0);
        @include bold();

        &:hover {
          background-color: transparent;
          border-color: $bg;
          color: $bg;
        }
      }
    }

    &.woocommerce-checkout {
      h1,
      h2,
      h3 {
        @extend .t-section;
        @include font(18px);
        color: black;
        text-align: left;
        margin: 15px auto;

        span {
          @extend .t-section;
          @include font(18px);
          text-align: left;
          margin: 15px auto;
          color: black;
        }
      }

      div.row {
        div.woocommerce-billing-fields__field-wrapper,
        div.woocommerce-shipping-fields__field-wrapper {
          display: flex;
          justify-content: start;
          align-items: start;
          flex-wrap: wrap;

          p.form-row {
            display: flex;
            flex-flow: column;
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 0 10px;
            float: none !important;

            &.form-row-first {
              flex: 0 0 48%;
              max-width: 48%;
              margin-right: auto;
            }
            &.form-row-last {
              flex: 0 0 48%;
              max-width: 48%;
              margin-left: auto;
            }

            label {
              margin: 0;
              color: black;

              &.screen-reader-text {
                overflow: hidden;
                height: 20px;
                width: auto;
                font-family: up-fonts('first');
                position: relative !important;

                @media (min-width: 768px) {
                  overflow: inherit;
                  height: auto;
                }

                .optional {
                  display: none;
                }
              }
            }

            input,
            textarea {
              @extend .classic-control;
            }

            .select-box {
              border: 1px solid rgba(29, 29, 27, 0.10);
              padding: 7px 5px;

              .select2-selection {
                border: none;
              }
            }
          }
        }
      }
    }

    &.woocommerce-shipping-calculator {
      p {
        a {
          display: flex;
          width: 100%;
          font-family: up-fonts('first');
          justify-content: flex-end;
          align-items: center;
          padding: 0;
          background-color: transparent;
          border: none;
          color: black;
          text-transform: inherit;
          @include font(14px);
          @include bold();
        }
      }

      button.button {
        min-height: 35px;
        padding: 0;
      }
    }

    &.edit-account {
      .form-row {
        margin-right: 0;
        margin-left: 0;
      }
      legend {
        font-family: up-fonts('first');
      }

      label {
        text-transform: inherit;
      }
      input {
        @extend .classic-control;
        margin: 0 0 10px;
      }
      em {
        display: flex;
        line-height: 14px;
        @include font(12px);
      }

      button {
        @extend .bt-global;
      }
    }
  }

  ul#shipping_method {
    display: flex;
    flex-wrap: wrap;
    list-style: none outside;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      margin: 0;
      // padding: 0.25em 0 0.25em 22px;
      // text-indent: -22px;
      // list-style: none outside;

      input {
        flex: 0 0 10%;
        max-width: 10%;
        width: auto;
        margin: 5px 5% 0 0;
      }

      label {
        flex: 0 0 85%;
        max-width: 85%;
        display: inline;
        margin: 0;
        @include bold();

        span {
          @include light();
        }
      }

      p {
        font-family: up-fonts('first');
        flex: 0 0 100%;
        line-height: 12px;
        padding-left: 15%;
        @include font(12px);
        @include light();
      }
    }

    .amount {
      eight: 700;
    }
  }

  p.woocommerce-shipping-contents {
    margin: 0;
  }
  p.woocommerce-thankyou-order-received {
    @include font(19px);
  }

  /**
	 * Order page
	 */
  ul.order_details {
    @include clearfix();
    margin: 0 0 3em;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 19px;

    li {
      float: left;
      margin-right: 2em;
      text-transform: uppercase;
      font-size: 0.715em;
      line-height: 1;
      border-right: 1px dashed darken($secondary, 10%);
      padding-right: 2em;
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;

      strong {
        display: block;
        font-size: 1.4em;
        text-transform: none;
        line-height: 1.5;
      }

      &:last-of-type {
        border: none;
      }
    }
  }

  .woocommerce-column__title,
  .woocommerce-order-details__title {
    text-align: left !important;
    font-size: 40px !important;
  }

  .wc-bacs-bank-details-account-name {
    font-weight: bold;
  }

  .woocommerce-order-downloads,
  .woocommerce-customer-details,
  .woocommerce-order-details {
    margin-bottom: 2em;
    *:last-child {
      margin-bottom: 0;
    }
  }

  .woocommerce-customer-details {
    address {
      font-style: normal;
      margin-bottom: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom-width: 2px;
      border-right-width: 2px;
      text-align: left;
      width: 100%;
      border-radius: 5px;
      padding: 6px 12px;
      @include font(16px);
    }

    .woocommerce-customer-details--phone,
    .woocommerce-customer-details--email {
      margin-bottom: 0;
      padding-left: 1.5em;
    }

    .woocommerce-customer-details--phone::before {
      @include iconbefore('\e037');
      margin-left: -1.5em;
      line-height: 1.75;
      position: absolute;
    }

    .woocommerce-customer-details--email::before {
      @include iconbefore('\e02d');
      margin-left: -1.5em;
      line-height: 1.75;
      position: absolute;
    }
  }

  /**
	 * Layered nav widget
	 */
  .woocommerce-widget-layered-nav-list {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
    display: flex;
    flex-wrap: wrap;

    .woocommerce-widget-layered-nav-list__item {
      @include clearfix();
      padding: 5px 5px;
      list-style: none;
      border: 1px solid up-colors('six');

      a,
      span {
        padding: 1px 0;
        &.count {
          display: none;
        }
      }

      &:before {
        content: none;
      }
    }

    .woocommerce-widget-layered-nav-list__item--chosen a::before {
      @include iconbefore('\e013');
      color: $red;
    }
  }

  .woocommerce-widget-layered-nav-dropdown__submit {
    margin-top: 1em;
  }

  .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
    overflow: hidden;
    zoom: 1;
    li {
      float: left;
      padding: 0 1em 1px 1px;
      list-style: none;
      a {
        text-decoration: none;
        &::before {
          @include iconbefore('\e013');
          color: $red;
          vertical-align: inherit;
          margin-right: .5em;
        }
      }
    }
  }

  /**
	 * Price filter widget
	 */
  .widget_price_filter {
    .price_slider {
      margin-bottom: 1em;
    }
    .price_slider_amount {
      text-align: right;
      line-height: 2.4;
      font-size: 0.8751em;

      .button {
        font-size: 1.15em;
        float: left;
      }
    }

    .ui-slider {
      position: relative;
      text-align: left;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .ui-slider .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 1em;
      height: 1em;
      background-color: $primary;
      border-radius: 1em;
      cursor: ew-resize;
      outline: none;
      top: -0.3em;
      margin-left: -0.5em;
    }

    .ui-slider .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: 0.7em;
      display: block;
      border: 0;
      border-radius: 1em;
      background-color: $primary;
    }

    .price_slider_wrapper .ui-widget-content {
      border-radius: 1em;
      background-color: $primary - #444;
      border: 0;
    }

    .ui-slider-horizontal {
      height: 0.5em;
    }
    .ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
      left: -1px;
    }
    .ui-slider-horizontal .ui-slider-range-max {
      right: -1px;
    }
  }

  /**
	 * Rating Filter Widget
	 */
  .widget_rating_filter ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;

    li {
      @include clearfix();
      padding: 0 0 1px;
      list-style: none;

      a {
        padding: 1px 0;
        text-decoration: none;
      }

      .star-rating {
        float: none;
        display: inline-block;
      }
    }

    li.chosen a::before {
      @include iconbefore('\e013');
      color: $red;
    }
  }
}

.woocommerce-no-js {
  form.woocommerce-form-login,
  form.woocommerce-form-coupon {
    display: block !important;
  }

  .woocommerce-form-login-toggle,
  .woocommerce-form-coupon-toggle,
  .showcoupon {
    display: none !important;
  }
}

/**
 * Right to left styles
 */

.rtl.woocommerce .price_label,
.rtl.woocommerce .price_label span {
  /* rtl:ignore */
  direction: ltr;
  unicode-bidi: embed;
}