/**
 * WooCommerce Styles by
 Up Code
 * Version: 1.0.0
 */

@import 'mixins/_mixins';
@import 'mixins/_variables';
@import 'mixins/_animation';
@import 'mixins/_fonts';

.bt-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 180px;
  margin: 10px auto;
  padding: 10px 0;
  background-color: $bg;
  border-color: $bg;
  color: white;
  text-transform: uppercase;
  min-height: 50px;
  letter-spacing: inherit;
  font-family: up-fonts('first');
  cursor: pointer;
  @include font(12px);
  @include radius(0);
  @include bold();
  @include transition(all 300ms ease-in-out);
  &:focus { outline: none; }
  &:hover {
    color: white;
    opacity: .75;
  }

  &:disabled,
  &.disabled,
  &:disabled[disabled] {
    color: white;
    cursor: not-allowed;
    opacity: 0.5;
    padding: 10px;
    
    @media (min-width: 768px) {
      padding: 10px 55px;
    }
  }
}

@import 'partials/_layout';
@import 'partials/_global';
@import 'partials/_main';
@import 'partials/_alerts';
@import 'partials/_account-page';
@import 'partials/_cart-checkout';
@import 'partials/_passwords';