@import "fa/fa";
@import "up/_functions";
@import "bootstrap/bootstrap";
@import "up/_main";
@import "slick";
@import "slick-theme";
@import "bsnav/bsnav";
@import "woo";

/* header */

/* ----------------------------------------- */

header {
  &#header {
    padding: 1rem 0;
    @include media-breakpoint-up(md) {

    }

  }
}

/* ----------------------------------------- header */

/* content */
#slideshow {
  .banner-mask {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 168px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up('sm') {
      min-height: 600px;
      background-size: cover;
    }

    @media (min-width: 1200px) and (max-width: 1300px) {
      min-height: 650px;
    }

    > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/* ----------------------------------------- */
main#content {
  .woocommerce {
    &.columns-4 {
      width: 100%;
    }
  }
  article.post {
    &.single {

      header {
        a {
          h3 {
          }
          p {
            color: up-colors('first');
            @include font(15px);
          }
        }

      }
      .meta {
        padding: 0 0 2rem 0;
      }
    }
  }
  article.page {
    &.single {
      header {
        a {
          h3 {
          }
          p {
            color: up-colors('teen');
            @include font(15px);
          }
        }
      }
    }
  }

}
section {
  max-width: 1920px;
  margin: 0 auto;
 


}


aside
{
  &.aside-parent{
    .aside-box{
      h2{
        color: up-colors('first');
        @include font(30px);
        @include bold();
      }
      .aside-content{
        ul{
          li{
            width: 100%;
            margin-bottom: 5px;
            a{
              display: block;
              width: 100%;
              padding: 5px 0;
              color: up-colors('first');
              border-bottom: 1px solid;
              &:hover{
                color: up-colors('second');

              }

            }
            ul.dropdown-menu {
              background-color: white;
              border: 0px solid transparent;
              li{
                  a{
                    padding: 5px 10px;
                  }
              }
            }
          }
        }
      }
    }
  }
  &#sidebar {
    .widget {
      margin: 0 0 30px;

      h2 {
        text-transform: uppercase;
        color: $txt;
        border-bottom: 1px solid $txt;
        padding-bottom: 15px;
        margin-bottom: 25px;
        @include font(18px);
        @include medium();
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          position: relative;
          padding-left: 25px;

          a {
            color: $txt;
          }

          &::before {
            position: absolute;
            color: $txt;
            content: "\f054";
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            margin-left: -25px;
            width: 25px;
          }
        }
      }

      form {
        .price_slider {
          background-color: rgba(#D8D8D8, .5);
          .ui-slider-range {
            background-color: $cor;
          }
          span.ui-slider-handle {
            background-color: $bg;
          }
        }

        input[type="search"] {
          width: 100%;
          padding: 10px;
          color: $txt;
          border: 1px solid #f1f1f1;
          @include font(14px);
          @include placeholder {
            color: $txt;
          }

          &:focus {
            outline: none;
          }
        }

        button[type="submit"] {
          @extend .btn-classic;
          margin: 10px 0;
        }
      }
    }
  }
}


/* ----------------------------------------- content */

/* footer */
/* ----------------------------------------- */
footer {
  &#footer {
    background-color: #f6f6f6;

    padding: 32px 0 52px 0;
    span {
      &.address_info {
        @include font(17px);
        @include medium();
      }
      &.phone_info {
        @include font(20px);
        @include medium();
      }
    }
  }
}

/* ----------------------------------------- content */

ul.product-card__brands-logos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.ps-brand-x30,
.ps-brand-x40,
.ps-brand-x60 {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #eee;
  text-indent: -5000px;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff
}

.ps-brand-x30 {
  background-image: url(../images/ps-brands-x30.png);
  display: none;
  width: 45px;
  height: 30px;
  background-size: 370px 280px
}

.ps-brand-x30--alelo {
  background-position: -65px 0;
  display: inline-block
}

.ps-brand-x30--amex {
  background-position: -130px -200px;
  display: inline-block
}

.ps-brand-x30--aura {
  background-position: 0 -50px;
  display: inline-block
}

.ps-brand-x30--balance {
  background-position: -65px -50px;
  display: inline-block
}

.ps-brand-x30--banesecard {
  background-position: -130px 0;
  display: inline-block
}

.ps-brand-x30--banri-compras {
  background-position: -130px -50px;
  display: inline-block
}

.ps-brand-x30--banrisul {
  background-position: 0 -100px;
  display: inline-block
}

.ps-brand-x30--bb {
  background-position: -65px -100px;
  display: inline-block
}

.ps-brand-x30--boleto {
  background-position: -130px -100px;
  display: inline-block
}

.ps-brand-x30--bradesco {
  background-position: -195px 0;
  display: inline-block
}

.ps-brand-x30--brasilcard {
  background-position: -195px -50px;
  display: inline-block
}

.ps-brand-x30--cabal-debito {
  background-position: -195px -100px;
  display: inline-block
}

.ps-brand-x30--cabal {
  background-position: 0 -150px;
  display: inline-block
}

.ps-brand-x30--caixa {
  background-position: -65px -150px;
  display: inline-block
}

.ps-brand-x30--default {
  background-position: -130px -150px;
  display: inline-block
}

.ps-brand-x30--diners {
  background-position: -195px -150px;
  display: inline-block
}

.ps-brand-x30--elo {
  background-position: 0 -200px;
  display: inline-block
}

.ps-brand-x30--fortbrasil {
  background-position: -65px -200px;
  display: inline-block
}

.ps-brand-x30--grandcard {
  background-position: 0 0;
  display: inline-block
}

.ps-brand-x30--hiper {
  background-position: -195px -200px;
  display: inline-block
}

.ps-brand-x30--hipercard {
  background-position: -260px 0;
  display: inline-block
}

.ps-brand-x30--itau {
  background-position: -260px -50px;
  display: inline-block
}

.ps-brand-x30--maestro {
  background-position: -260px -100px;
  display: inline-block
}

.ps-brand-x30--mais {
  background-position: -260px -150px;
  display: inline-block
}

.ps-brand-x30--mastercard {
  background-position: -260px -200px;
  display: inline-block
}

.ps-brand-x30--personalcard {
  background-position: 0 -250px;
  display: inline-block
}

.ps-brand-x30--santander {
  background-position: -65px -250px;
  display: inline-block
}

.ps-brand-x30--sodexo {
  background-position: -130px -250px;
  display: inline-block
}

.ps-brand-x30--sorocred {
  background-position: -195px -250px;
  display: inline-block
}

.ps-brand-x30--ticket {
  background-position: -260px -250px;
  display: inline-block
}

.ps-brand-x30--upbrasil {
  background-position: -325px 0;
  display: inline-block
}

.ps-brand-x30--valecard {
  background-position: -325px -50px;
  display: inline-block
}

.ps-brand-x30--visa-electron {
  background-position: -325px -100px;
  display: inline-block
}

.ps-brand-x30--visa {
  background-position: -325px -150px;
  display: inline-block
}

.ps-brand-x30--vr {
  background-position: -325px -200px;
  display: inline-block
}

.ps-brand-x30--policard {
  background-position: -325px -250px;
  display: inline-block
}
section.up-sells.upsells.products {
  width: 100%;
  order: 5;
}