@import "fa/fa";
@import "up/_functions";
@import "bootstrap/bootstrap";
@import "up/_main";
@import "slick";
@import "slick-theme";
@import "bsnav/bsnav";
@import "woo";

/* header */

/* ----------------------------------------- */

.nav-full {
  background: linear-gradient(to right, $bg, $cor);
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  z-index: 1049;

  div {
    margin-bottom: 0;
  }

  a {
    color: white
  }

  nav.navbar {
    position: relative;
    margin: 0;
    padding: 0;

    button {
      border: 3px solid $white;
      padding: 5px;
      width: 45px;
      height: 40px;
      @include radius(5px);

      &:focus {
        outline: none;
      }

      span {
        width: 75%;
        top: 4px;
        background-color: $white;

        &::after,
        &::before {
          background-color: $white
        }
        &::before {
          top: 10px;
        }
        &::after {
          bottom: -20px;
        }
      }

      &.active {
        span {
          background-color: transparent;
        }
      }
    }
  }

  ul {
    &.list-pages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
      }
      // Large devices (desktops, 768px and up)

      li {
        padding: 0;
        position: relative;

        @include media-breakpoint-up(md) {
          padding: 10px 0;
        }
        // Large devices (desktops, 768px and up)

        a {
          @extend .after-under;
          display: flex;
          align-items: center;
          padding: 10px 0;
          font-family: up-fonts('first');
          color: white;
          @include font(16px);
          @include light();

          @include media-breakpoint-up(md) {
            padding: 5px 10px;
          }
          // Large devices (desktops, 768px and up)

          .caret {
            border-top-color: $cor;
          }
        }

        &.current-menu-item,
        &:hover {
          a {
            color: white;
          }
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:hover {
          .collapse {
            display: block;
          }
        }

        ul {
          &.navbar-nav {
            @include radius(0);

            li {
              a {
                .caret {
                  border-top-color: transparent;
                  border-left-color: $cor;
                }
              }
            }
          }

          &.nav-tax {
            position: absolute;
            list-style: none;
            padding: 0;
            background-color: black;
            min-width: 150%;
            left: -25%;
            top: 100%;

            li {
              padding: 10px 20px;

              a {
                display: flex;
                padding: 0;
                justify-content: center;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  // nav.navbar {
  //   position: relative;
  //   margin: 0;
  //   padding: 0;

  //   button {
  //     border: 3px solid $cor;
  //     padding: 5px;
  //     width: 45px;
  //     height: 40px;
  //     @include radius(5px);

  //     &:focus { outline: none; }

  //     span {
  //       width: 75%;
  //       top: 4px;
  //       background-color: $cor;

  //       &::after,
  //       &::before { background-color: $cor }
  //     }

  //     &.active {
  //       span { background-color: transparent; }
  //     }
  //   }

  //   .navbar-collapse {
  //     width: 100%;
  //     justify-content: flex-start !important;

  //     ul {
  //       li {
  //         a {
  //           display: flex;
  //           align-items: center;
  //           padding: 20px;
  //           font-family: up-fonts('first');
  //           color: white;
  //           letter-spacing: 1.33px;
  //           @include font(16px);
  //           @include light();

  //           .caret { border-top-color: $cor }
  //         }

  //         &.current-menu-item,
  //         &:hover {
  //           a { color: white; }
  //         }

  //         &:first-child {
  //           a { padding-left: 0; }
  //         }

  //         ul.navbar-nav {
  //           @include radius(0);

  //           li {
  //             a {
  //               .caret {
  //                 border-top-color: transparent;
  //                 border-left-color: white
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .cart {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 50px;
    background-color: rgba(white, .25);
    padding: 0 10px;
    @include transition(all 300ms ease-in-out);

    @include media-breakpoint-up(md) {
      min-height: inherit;
    }
    // Large devices (desktops, 768px and up)

    a {
      display: flex;

      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
      }

      span {
        display: flex;
        align-items: center;
        @include font(12px);
      }

      &:hover {
        color: white;
      }
    }

    &:hover {
      background-color: $bg;
    }
  }

  &.fixed {
    position: fixed;
    background: rgba(black, 1);
    z-index: 1050;

    @include media-breakpoint-up(md) {
      background: rgba(black, .75);
    }
    // Large devices (desktops, 768px and up)
  }
}

header {
  &#header {

    padding: 1rem 0;
    @include media-breakpoint-up(md) {

    }
    // Large devices (desktops, 768px and up)
    span.mask-mail{
      @include font(13px);
      @include media-breakpoint-up('sm'){
        @include font(17px);

      }
    }
    div {
      &.topbar {

      }
      &.boxmenu {

      }
    }
  }
}

/* ----------------------------------------- header */

/* content */
#slideshow {
  .banner-mask {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 168px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up('sm') {
      min-height: 600px;
      background-size: cover;
    }

    @media (min-width: 1200px) and (max-width: 1300px) {
      min-height: 650px;
    }

    > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/* ----------------------------------------- */
main#content {
  .woocommerce {
    &.columns-4 {
      width: 100%;
    }
  }
  article.post {
    &.post-home-first {
      a.fig {
        display: block;
        outline: none;
        &:hover {
          box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);
        }
        @include transition(0.3s);
        figure {
          position: relative;
          border: 6px solid $orange;
          img {
            width: 100%;
          }
          figcaption {
            background: white;
            padding: 3px 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: up-fonts();
            text-align: center;
            position: absolute;
            top: -6px;
            left: -6px;
            background: white;
            border-radius: 0;
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);
            line-height: 33px;
            span {
              @include font(30px);
              @include medium();
            }
            small {
              font-family: up-fonts();
              @include font(15px);
              @include normal();
            }
          }
        }
      }
      header {
        a {
          padding: 3px;
          h3 {
            color: black;
            @include font(25px);
            @include normal();
          }
        }
      }
    }
    &.post-home-horizontal {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &:first-child {
        border-bottom: 2px solid #c5c8d0;
        padding: 0px 0 20px 0;
      }
      padding: 20px 0 0px 0;
      a.fig {
        position: relative;
        display: flex;
        outline: none;
        transition: 0.3s;
        height: 80px;
        margin-right: 2%;

        max-width: 16%;
        flex: 0 0 16%;
        &:hover {
          //box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);
        }
        @include media-breakpoint-up('sm'){

          flex: 0 0 16%;
          max-width: 16%;

        }
        @include transition(0.3s);
      }
      header {
        display: flex;
        flex-direction: column;
        flex: 0 0 86%;
        max-width: 86%;
        a {
          color: up-colors('first');

          @include transition(0.3s);
          &:hover {
            color: up-colors('second');
          }
          h3 {
            @include font(24px);
            @include medium();
          }
          p {
            @include font(15px);
            @include medium();
          }
        }
      }
      div.figcaption {
        background: white;
        padding: 1px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: up-fonts();

        background: white;
        border-radius: 0;
        box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);
        line-height: 33px;
        border: inset 2px #202d4e;

        @include media-breakpoint-up('sm') {
          padding: 3px 17px;

        }
          span {
          @include font(30px);
          @include medium();
        }
        small {
          font-family: up-fonts();
          @include font(15px);
          @include normal();
        }
      }
    }
    &.post-index {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 3.7rem;
      padding-bottom: 3.3rem;
      border-bottom: 2px solid up-colors('nin');
      &:last-child {
        border-bottom: none;
      }
      flex-direction: column;
      padding: 3.7rem 1rem 3.3rem 1rem;
      @include media-breakpoint-up('sm'){
        flex-direction: row;
        padding: 3.7rem 0.3rem 3.3rem 0.3rem;
      }
      a.fig {
        display: flex;
        outline: none;
        transition: all 0.3s;

        @include media-breakpoint-up('sm') {
          flex: 0 0 33%;
          &.fw{
            flex: 0 0 100%;
          }
        }
          figure {
          transition: all 0.3s;
        }
        &:hover {
          figure {
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);

          }
        }
        @include transition(0.3s);
        figure {
          position: relative;
          border: 6px solid $orange;
          img {
            width: 100%;
          }
          figcaption {
            background: white;
            padding: 3px 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: up-fonts();
            text-align: center;
            position: absolute;
            top: -6px;
            left: -6px;
            background: white;
            border-radius: 0;
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.19);
            line-height: 33px;
            span {
              @include font(30px);
              @include medium();
            }
            small {
              font-family: up-fonts();
              @include font(15px);
              @include normal();
            }
          }
        }
      }
      header {
        display: flex;
        padding: 0px 1rem;

        @include media-breakpoint-up('sm') {
          flex: 0 0 65%;
          max-width: 65%;
          padding: 0;

        }
          a {
          padding: 3px;

          h3 {
            color: black;
            margin-bottom: 2rem;
            @include font(25px);
            @include normal();
          }
          p {
            color: up-colors('first');

            @include font(15px);
          }
        }
      }
    }
    &.single {

      header {
        a {
          h3 {
          }
          p {
            color: up-colors('teen');
            @include font(15px);
          }
        }

      }
      .meta {
        padding: 0 0 2rem 0;
      }
    }

  }
  article.page {
    &.single {
      header {
        a {
          h3 {
          }
          p {
            color: up-colors('teen');
            @include font(15px);
          }
        }
      }
    }
    &.associados{

    }
  }

}
section {
  max-width: 1920px;
  margin: 0 auto;
  &.tv-agos {
    padding: 33px 0;
  }
  &.eventos {

    &:before {
      top: 0;
      position: absolute;
      left: 0;
      width: 70%;
      height: 5px;
      content: " ";
      background-color: up-colors('second');
    }
    &:after {
      top: 0;
      position: absolute;
      right: 0;
      width: 30%;
      height: 5px;
      content: " ";
      background-color: up-colors('first');
    }
    padding: 33px 0;
    position: relative;
    margin-bottom: 2rem;
    h2 {
      max-width: 170px;
      padding: 1px 0 12px 0;
      color: up-colors('first');
      border-bottom: 4px solid up-colors('second');
      @include font(41px);
    }
    h3 {
      margin-top: 1rem;
      color: up-colors('first');
      @include font(30px);
      @include normal();
    }
    figure.alignnone {
      img {
        max-width: 200px;
        @include media-breakpoint-up('sm') {
          max-width: 400px;

        }
      }
    }
    ul {
      &.eventsBoxes {

        li {
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.08);
          padding: 9px;
          flex: 0 0 46%;
          max-width: 46%;
          margin: 0% 4% 4% 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 100%;
          text-align: center;
          max-height: 179px;
          @include media-breakpoint-up('sm'){
            flex: 0 0 36%;
            max-width: 36%;
          }
          &:hover{

            background-color: rgb(222, 241, 255);
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.18);
          }
          a {
            outline: none;
            text-decoration: none;
            figure {
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: column;
              width: 100%;
              height: 100%;
              margin: 0;
              span {
                letter-spacing: -1.4px;
                color: up-colors('first');
                @include font(18px);
              }
              img {

              }
            }
          }

        }
      }
    }
  }
  &.ads{
    background-color: #e0e0e0;
    .adSlides{
      @include media-breakpoint-down('md'){
        .slick-prev, .slick-next{
          top: 80%;
          &.slick-prev{
            left: 20px;
          }
          &.slick-next{
            right: 20px;
          }
        }
      }

      figure{

        min-height: 121px;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        margin: 0;

        @include media-breakpoint-up('sm'){
          background-position: center;

          min-height: 218px;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
    }
  }
  &.cta{

    &.cta-ads{
      .col-12{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 50px;
        &:first-child{
          justify-content: flex-start;
        }
        .btn {
          padding: 1px 6px;
          border-radius: 0;
          letter-spacing: 1px;
          @include font(15px);
        }
      }
    }
  }
  &.revista-supermercados {

    background: rgb(255,203,14);

    background: -moz-linear-gradient(90deg, rgba(255,203,14,1) 67%, rgba(250,250,250,1) 30%, rgba(250,250,250,1) 10%);
    background: -webkit-linear-gradient(90deg, rgba(255,203,14,1) 67%, rgba(250,250,250,1) 30%, rgba(250,250,250,1) 10%);
    background: linear-gradient(90deg, rgba(255,203,14,1) 67%, rgba(250,250,250,1) 30%, rgba(250,250,250,1) 10%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb0e",endColorstr="#fafafa",GradientType=1);

    @include media-breakpoint-up('sm'){
      background: -moz-linear-gradient(90deg, rgba(255,203,14,1) 50%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255,203,14,1) 50%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
      background: linear-gradient(90deg, rgba(255,203,14,1) 50%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb0e",endColorstr="#fafafa",GradientType=1);
    }
    min-height: 240px;
    margin: 5rem 0 4rem 0;
    div{
      h2{

        @include font(43px);
        small{
          @include font(20px);
          @include bold();

        }

      }
      span{
        color: up-colors('first');
        @include font(20px);
        @include bold();

      }
      figure{
        img{
          &.capa{
            transform: scale(1.2);
            padding-right: 1rem;
          }
        }
      }
    }

  }
  &.goBack{
    background-color: up-colors('second');
    padding: 1rem 0;
    .goBackBtn{
      color: #292b2f;
      @include font(34px);
    }
  }

}

.wp-block-columns{
  margin: 0;
  .advgb-image-block{
    margin: 0;
  }
}
aside
{
  &.aside-parent{
    .aside-box{
      h2{
        color: up-colors('first');
        @include font(30px);
        @include bold();
      }
      .aside-content{
        ul{
          li{
            width: 100%;
            margin-bottom: 5px;
            a{
              display: block;
              width: 100%;
              padding: 5px 0;
              color: up-colors('first');
              border-bottom: 1px solid;
              &:hover{
                color: up-colors('second');

              }

            }
            ul.dropdown-menu {
              background-color: white;
              border: 0px solid transparent;
              li{
                  a{
                    padding: 5px 10px;
                  }
              }
            }
          }
        }
      }
    }
  }
  &#sidebar {
    .widget {
      margin: 0 0 30px;

      h2 {
        text-transform: uppercase;
        color: $txt;
        border-bottom: 1px solid $txt;
        padding-bottom: 15px;
        margin-bottom: 25px;
        @include font(18px);
        @include medium();
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          position: relative;
          padding-left: 25px;

          a {
            color: $txt;
          }

          &::before {
            position: absolute;
            color: $txt;
            content: "\f054";
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            margin-left: -25px;
            width: 25px;
          }
        }
      }

      form {
        .price_slider {
          background-color: rgba(#D8D8D8, .5);
          .ui-slider-range {
            background-color: $cor;
          }
          span.ui-slider-handle {
            background-color: $bg;
          }
        }

        input[type="search"] {
          width: 100%;
          padding: 10px;
          color: $txt;
          border: 1px solid #f1f1f1;
          @include font(14px);
          @include placeholder {
            color: $txt;
          }

          &:focus {
            outline: none;
          }
        }

        button[type="submit"] {
          @extend .btn-classic;
          margin: 10px 0;
        }
      }
    }
  }
}


/* ----------------------------------------- content */

/* footer */
/* ----------------------------------------- */
footer {
  &#newsletter {
    &:after {
      position: absolute;
      content: "";
      background-image: -moz-linear-gradient(-90deg, rgb(0, 234, 255) 0%, rgb(60, 140, 231) 100%);
      background-image: -webkit-linear-gradient(-90deg, rgb(0, 234, 255) 0%, rgb(60, 140, 231) 100%);
      background-image: -ms-linear-gradient(-90deg, rgb(0, 234, 255) 0%, rgb(60, 140, 231) 100%);
      width: 100%;
      height: 4px;
      top: 0;
      left: 0;
    }
    position: relative;
    border-bottom: 1.2px solid $gray-custom;
    padding: 40px 0;
    margin: 34px 0 0 0;
    h2 {
      text-transform: uppercase;
      @include font(18px);
      @include normal();
      color: $gray-custom;
      strong {
        color: #212e50;
        @include medium();
        @include font(34px);

      }
    }
  }
  &#footer {
    background-color: #f6f6f6;

    padding: 32px 0 52px 0;
    span {
      &.address_info {
        @include font(17px);
        @include medium();
      }
      &.phone_info {
        @include font(20px);
        @include medium();
      }
    }
    .borderedCol {
      border-right: 1px solid $gray-100;
      &:last-child {
        border: none;
      }
    }
    .copy {
      font-size: 15px;
      font-weight: 300;
    }
  }
}

/* ----------------------------------------- content */

ul.product-card__brands-logos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.ps-brand-x30,
.ps-brand-x40,
.ps-brand-x60 {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #eee;
  text-indent: -5000px;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff
}

.ps-brand-x30 {
  background-image: url(../images/ps-brands-x30.png);
  display: none;
  width: 45px;
  height: 30px;
  background-size: 370px 280px
}

.ps-brand-x30--alelo {
  background-position: -65px 0;
  display: inline-block
}

.ps-brand-x30--amex {
  background-position: -130px -200px;
  display: inline-block
}

.ps-brand-x30--aura {
  background-position: 0 -50px;
  display: inline-block
}

.ps-brand-x30--balance {
  background-position: -65px -50px;
  display: inline-block
}

.ps-brand-x30--banesecard {
  background-position: -130px 0;
  display: inline-block
}

.ps-brand-x30--banri-compras {
  background-position: -130px -50px;
  display: inline-block
}

.ps-brand-x30--banrisul {
  background-position: 0 -100px;
  display: inline-block
}

.ps-brand-x30--bb {
  background-position: -65px -100px;
  display: inline-block
}

.ps-brand-x30--boleto {
  background-position: -130px -100px;
  display: inline-block
}

.ps-brand-x30--bradesco {
  background-position: -195px 0;
  display: inline-block
}

.ps-brand-x30--brasilcard {
  background-position: -195px -50px;
  display: inline-block
}

.ps-brand-x30--cabal-debito {
  background-position: -195px -100px;
  display: inline-block
}

.ps-brand-x30--cabal {
  background-position: 0 -150px;
  display: inline-block
}

.ps-brand-x30--caixa {
  background-position: -65px -150px;
  display: inline-block
}

.ps-brand-x30--default {
  background-position: -130px -150px;
  display: inline-block
}

.ps-brand-x30--diners {
  background-position: -195px -150px;
  display: inline-block
}

.ps-brand-x30--elo {
  background-position: 0 -200px;
  display: inline-block
}

.ps-brand-x30--fortbrasil {
  background-position: -65px -200px;
  display: inline-block
}

.ps-brand-x30--grandcard {
  background-position: 0 0;
  display: inline-block
}

.ps-brand-x30--hiper {
  background-position: -195px -200px;
  display: inline-block
}

.ps-brand-x30--hipercard {
  background-position: -260px 0;
  display: inline-block
}

.ps-brand-x30--itau {
  background-position: -260px -50px;
  display: inline-block
}

.ps-brand-x30--maestro {
  background-position: -260px -100px;
  display: inline-block
}

.ps-brand-x30--mais {
  background-position: -260px -150px;
  display: inline-block
}

.ps-brand-x30--mastercard {
  background-position: -260px -200px;
  display: inline-block
}

.ps-brand-x30--personalcard {
  background-position: 0 -250px;
  display: inline-block
}

.ps-brand-x30--santander {
  background-position: -65px -250px;
  display: inline-block
}

.ps-brand-x30--sodexo {
  background-position: -130px -250px;
  display: inline-block
}

.ps-brand-x30--sorocred {
  background-position: -195px -250px;
  display: inline-block
}

.ps-brand-x30--ticket {
  background-position: -260px -250px;
  display: inline-block
}

.ps-brand-x30--upbrasil {
  background-position: -325px 0;
  display: inline-block
}

.ps-brand-x30--valecard {
  background-position: -325px -50px;
  display: inline-block
}

.ps-brand-x30--visa-electron {
  background-position: -325px -100px;
  display: inline-block
}

.ps-brand-x30--visa {
  background-position: -325px -150px;
  display: inline-block
}

.ps-brand-x30--vr {
  background-position: -325px -200px;
  display: inline-block
}

.ps-brand-x30--policard {
  background-position: -325px -250px;
  display: inline-block
}
section.up-sells.upsells.products {
  width: 100%;
  order: 5;
}