.btn-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  margin: 10px auto;
  padding: 10px 30px;
  background: linear-gradient(to right, $bg, $cor);
  color: white;
  cursor: pointer;
  @include font(12px);
  @include semi();
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
    background-color: $bg;
  }
}

.btn-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  background-color: up-colors('eit');
  color: white;
  cursor: pointer;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  @include font(15px);
  @include normal();

  &:focus {
    outline: none;
  }
  &:hover {
    color: up-colors('eit');
    background-color: $yellow;
  }
}

.after-under {
  position: relative;

  &::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 50%;
    background-color: transparent;
    content: '';
    @include transition(all 300ms ease-in-out);
  }

  &:hover {
    &::after {
      background-color: white;
    }
  }
}

.h-page {
  margin: 0 auto 30px auto;
  max-width: 1920px;
  background-image: url("../images/h-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    h1 {
      margin: 0;
      text-transform: uppercase;
      color: white;
      font-weight: 500;
      text-align: center;
      @include font(25px);
      @include media-breakpoint-up('sm'){
        font-weight: 900;
        text-align: left;

        @include font(45px);
      }
    }

    #breadcrumbs {
      margin: 15px 0;
      @include light();

      span,
      a {
        color: black;
        @include font(14px);
      }
    }
  }

  form.woocommerce-ordering {
    display: none;
  }
}

.dropdown-category {
  height: 100%;

  .select-box {
    margin: 0;
    margin-bottom: 0;
    height: 100%;
    // border-bottom: 1px solid $cor;

    select {
      height: 100%;
      line-height: 28px;
    }

    &::after {
      color: $cor;
    }
  }
}

ul {
  &.phones-list {

    li {
      flex: 0 0 50%;
      max-width: 50%;
      justify-content: space-between;
      a {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 4px;
        color: up-colors('six');
        @include font(13px);
        @include media-breakpoint-up('sm'){
          @include font(17px);

        }
      }
    }
  }
  &.social-networks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0px 0 0;

    li {
      margin: 0 5px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid white;
        color: white;
        @include radius(50%);

        svg {
          @include font(13px)
        }

        &:hover {
          background-color: white;
          border-color: white;
          color: $bg;
        }
      }
    }
  }

  &.visitor {
    display: flex;
    list-style: none;
    padding: 5px 0;
    margin: 0;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
    // Large devices (desktops, 768px and up)

    li {
      display: flex;
      align-items: center;
      margin: 0 10px 0 0;

      a {
        @extend .after-under;
        display: flex;
        align-items: center;

        svg {
          margin: 0 5px 0 0;
          max-width: 20px;
          @include font(30px);

          @include media-breakpoint-up(md) {
            max-width: inherit;
          }
          // Large devices (desktops, 768px and up)
        }

        &:hover {
          color: white
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &.dates {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid $txt;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border: none;
        padding-bottom: 0;
      }

      span {
        svg {
          color: $cor;
        }
      }

      a {
        color: black;
      }
    }
  }
}

.t-custom {
  font-family: up-fonts('first');;
  color: up-colors('eit');
  text-align: left;

  @include font(41px);
  @include normal();
  strong {
    color: $bg;
  }
}

.upcf7 {
  .wpcf7 {
    button {

    }
  }
}

.wpcf7 {
  input {
    outline: none;
  }
}

#newsletter {
  #respond,
  .wpcf7 {
    span.wpcf7-not-valid-tip {
      display: none;
    }

    div.wpcf7-validation-errors {
      display: block;
      width: calc(100% - 30px);
      margin-left: 15px;
      padding: 10px;
      border-color: red !important;
      text-align: center;
      font-family: up-fonts('first');
      background-color: red;
      border-color: red;
      color: white;
      @include bold();
      @include font(14px);
    }

    input,
    textarea {
      font-family: up-fonts('first');
      border: 1px solid transparent;
      width: 100%;
      padding: 3px 16px;
      margin: 0;
      color: #434345;
      outline: none;
      margin-bottom: 5px;
      box-shadow: 5px 5px 10px rgba(black, .1);
      background-color: #ffcb0e;
      @include font(17px);
      @include normal();
      @include radius(30px);
      @include placeholder {
        font-family: up-fonts('first');
        letter-spacing: 0;
        line-height: 15px;
        color: #434345;
      }

      &.wpcf7-not-valid {
        border-color: red;
      }
      &:focus {
        outline: none;
        box-shadow: 5px 5px 10px $cor;
      }
    }

    button {
      border: none;
      background: transparent;
      color: #06377b;
      @include radius(0);
      @include font(15px);
      @include bold();
      @include transition(all 300ms ease-in-out);
      svg {
        margin-right: 10px;
      }
      &:hover {
        box-shadow: 5px 5px 10px $cor;
      }

    }

    .wpcf7-checkbox,
    .wpcf7-radio {
      display: flex;
      margin: 0;

      .wpcf7-list-item {
        margin: 0 10px 0 0;

        label {
          display: inline-flex;

          input[type=checkbox],
          input[type=radio] {
            opacity: 0;
            width: auto;
            margin: 0 10px 0 0;

            &:checked + .wpcf7-list-item-label::before {
              content: "\f0c8";
              color: $bg;
              font-size: 12px;
              font-family: 'Font Awesome\ 5 Pro';
              font-style: normal;
              font-weight: normal;
              line-height: 14px;
              text-decoration: inherit;
              text-align: center;
            }
          }

          .wpcf7-list-item-label {
            display: inline-block;
            font-family: up-fonts('first');
            font-weight: normal;
            left: 0px;
            line-height: 14px;
            margin: 0 0 15px;
            position: relative;
            @include font(14px);

            &::before {
              background: white;
              border: 1px solid $bg;
              border-radius: 3px;
              content: "";
              height: 15px;
              left: -24px;
              position: absolute;
              width: 15px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .radio {
      .wpcf7-list-item-label {
        &::before {
          border-radius: 100%;
        }
      }
    }
  }
}

.upcf7 {
  &.upcf7-custom {
    div.wpcf7 {
      //margin: 0 auto;
      //max-width: 300px;
      textarea,input {
        width: 100%;
        outline: none;
      }
      button {
        background: up-colors('first');
        color: white;
        border-radius: 16px;
        outline: none;
        display: block;

        border: 2px solid transparent;
        &:hover{
          background: transparent;
          border: 2px solid up-colors('second');
          color: up-colors('first');
        }
      }
    }
  }
  &.assoc {
    div.wpcf7 {



      form.wpcf7-form {
        display: flex;
        flex-direction: column;
        textarea,input {
          outline: none;
          width: 100%;
        }
        button {
          background: up-colors('first');
          color: white;
          border-radius: 16px;
          outline: none;
          display: block;
          @include transition(all 0.3s);
          border: 2px solid transparent;
          &:hover{
            background: transparent;
            border: 2px solid up-colors('second');
            color: up-colors('first');
          }

        }
      }

    }
  }
}

.select-box {
  background-color: white;
  margin: 0;
  margin-bottom: 1em;
  position: relative;
  border: 1px solid up-colors('six');
  z-index: 2;
  width: 100%;

  select {
    font-family: up-fonts('first');
    color: $cor;
    line-height: 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    background: transparent;
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    border: none;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include font(14px);
    @include radius(1px);
    @include light();

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &::after {
    content: "\f078";
    font-family: 'Font Awesome\ 5 Pro';
    font-weight: 900;
    position: absolute;
    right: 8px;
    top: 50%;
    color: $cor;
    z-index: 1;
    @include font(14px);
    line-height: 10%;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}

#fb-root {
  display: none
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
  width: 100% !important
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
a, ul, ul li, input, textarea, span, p, label {
  font-family: up-fonts('first');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection,
  &::-moz-selection,
  &::-webkit-selection {
    background-color: $cor;
    color: white;
  }
}

a,
img,
input,
button {
  @include transition(all 150ms ease-in-out);
  text-decoration: none !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.acf-map {
  height: 400px;

  img {
    max-width: inherit !important;
  }
}

.wp-pagenavi {
  margin-top: 40px;
  a, span {
    border: 0 !important;
    border-bottom: 1px solid #BFBFBF !important;
  }
}

.hentry {
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: $cor;
    &:hover {
      text-decoration: underline;
    }
  }

  .alignleft,
  img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }

  .alignright,
  img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }

  .aligncenter,
  img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  .wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;

    img {
      border: 0 none;
      padding: 0;
      margin: 0;
    }

    p.wp-caption-text {
      line-height: 1.5;
      font-size: 10px;
      margin: 0;
    }
  }

  .wp-smiley {
    margin: 0 !important;
    max-height: 1em;
  }

  blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
  }

  blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
  }
}

.custom-row {
  border-bottom: 1px solid #a5b3c2;
  padding-bottom: 9px;
  border-top: none;
}

html {
  margin-top: 0 !important;
  margin: 0 !important;
}

.ccol {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.custom-embed {
  margin-top: 2rem;
  position: relative;
  .embed-responsive {
    z-index: 9;
    box-shadow: 0 0 5px 0px #162036;
    border-radius: 2px;
    iframe {
      background-color: rgb(32, 45, 78);

    }
  }
  @include media-breakpoint-up('sm'){
    &:before {
      display: block;
      content: "";
      background-image: -moz-linear-gradient(-90deg, rgb(255, 184, 14) 0%, rgb(255, 205, 14) 100%);
      background-image: -webkit-linear-gradient(-90deg, rgb(255, 184, 14) 0%, rgb(255, 205, 14) 100%);
      background-image: -ms-linear-gradient(-90deg, rgb(255, 184, 14) 0%, rgb(255, 205, 14) 100%);
      position: absolute;
      left: 1px;
      top: -12px;
      width: 300px;
      height: 343px;
      z-index: 2;

    }
    &:after {
      display: block;
      content: "";
      background-color: rgb(32, 45, 78);
      position: absolute;
      right: 2px;
      bottom: -12px;
      width: 300px;
      height: 343px;
      z-index: 2;

    }
  }


}
// blocks custom style
.wp-block-file {
  padding: 5px 5px;
  border: 1px solid #32373b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
figure.wp-block-image {
  display: flex;
  justify-content: center;
}
.wp-block-columns{
  margin: 0;
  .advgb-image-block{
    margin: 0;
  }
}